.titulo{
    color: rgb(248, 151, 151);
    font-size: 50px;
}



.priemrdigito{
    color:rgb(255, 0, 200);
    font-size: 20px;
    position: absolute;
    top: 160px;
}

.segundodigito{
    color:rgb(255, 0, 200);
    font-size: 20px;
    position: absolute;
    top: 220px;
}

.resultado{
    color: rgb(255, 0, 200);
    font-size: 30px;
    top: 10px;
    
}
.respuestaa{
    position: absolute;
    top: 300px;
    text-align: center;
    left: 10px;
    right: 40px;
}

.resultado3{
    background: rgb(29, 28, 28);
    height: 35px;
    width: 1px;
    right: 225px;
    top: 12px;
    
}

.signos{
    position: absolute;
    top: 400px;
    left: 770px;
}

.prueba{
    background: rgb(255, 137, 137);
    width: 60px;
    height: 40px;
    position: absolute;
    text-align: center;
    left: 335px;
    top: 16px;
}

.prueba2{
    background: rgb(255, 137, 137);
    width: 60px;
    height: 40px;
    position: absolute;
    text-align: center;
    left: 335px;
    top: 50px;
}


.sumar{
    width: 100px;
    height: 50px;
}

.sumar2{
    font-size: 90px;
}

.restar{
    width: 100px;
    height: 50px;
}

.restar2{
    font-size: 90px;
}

.multiplicarr{
    width: 100px;
    height: 50px;
}

.multiplicar2{
    font-size: 90px;
}

.dividirr{
    width: 100px;
    height: 50px;
}

.dividir2{
    font-size: 50px;
}

.fresa{
    position: absolute;
    width: 100px;
    top: 100px;
    right: 20px;

}

.tulipan{
    position: absolute;
    width: 100px;
    top: 100px;
    left: 100px;

    
}

.niña{
    position: absolute;
    width: 200px;
    top: 659px;
}

.fresa1{
    position: absolute;
    width: 100px;
    top: 500px;
    left: 100px;

}

.tulipan1{
    position: absolute;
    width: 100px;
    top: 500px;
    left: 1700px;
}

.fresa2{
    position: absolute;
    width: 100px;
    top: 415px;
    left: 890px;
}


.tulipan2{
    position: absolute;
    width: 100px;
    top: 700px;
    left: 900px;
}
